<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rmp.crossy20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookcrossing"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.ApplicationActivity"></activity>
        <activity android:name=".activities.ChatActivity"></activity>
        <activity android:name=".activities.ReviewActivity"></activity>
    </application>


</manifest>